{% load i18n %}<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% trans "Indie Games for Good Marathon" %}{% endblock %}</title>
  <meta name="robots" content="index"><meta name="description" content="{% block meta_description %}{% endblock %}"><meta name="keywords" content="igg,indie games for good,{% block meta_keywords %}{% endblock %}">
  <link rel="shortcut icon" href="/favicon.ico">
  <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
  <!-- <link href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" rel="stylesheet"> -->
    <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
  <link href="{{ STATIC_URL }}css/site.css" rel="stylesheet">
  {% block head %}{% endblock %}
</head>
<body>
  {% include "navbar.html" %}
  <div class="container">
    {% block content %}{% endblock %}
    <hr>
    <footer>
      <p>&copy; {% trans "Indie Games for Good" %} {% now "Y" %}</p>
    </footer>
  </div> <!-- /container -->

  {% comment %}
  We probably don't need all of these Twitter Bootstrap plugins, but I'm just adding them all for now.
  If we do need one or more of them, we should obviously consolidate them into one JS file.

  http://twitter.github.com/bootstrap/javascript.html
  {% endcomment %}
  <div class="modal hide fade in" id="gameDetailModal">
      <div class="modal-header">
          <button class="close" data-dismiss="modal">×</button>
          <h3 id="gameDetailModalHeading">Modal Heading</h3>
      </div>
      <div class="modal-body" id="gameDetailModalBody"></div>
      <div class="modal-footer">
          <a href="#" class="btn btn-primary" data-dismiss="modal">Close</a>
      </div>
  </div>
  <script src="{{ STATIC_URL }}js/bootstrap-transition.js"></script>
  <script src="{{ STATIC_URL }}js/bootstrap-alert.js"></script>
  <script src="{{ STATIC_URL }}js/bootstrap-modal.js"></script>
  <script src="{{ STATIC_URL }}js/bootstrap-dropdown.js"></script>
  <script src="{{ STATIC_URL }}js/bootstrap-scrollspy.js"></script>
  <script src="{{ STATIC_URL }}js/bootstrap-tab.js"></script>
  <script src="{{ STATIC_URL }}js/bootstrap-tooltip.js"></script>
  <script src="{{ STATIC_URL }}js/bootstrap-popover.js"></script>
  <script src="{{ STATIC_URL }}js/bootstrap-button.js"></script>
  <script src="{{ STATIC_URL }}js/bootstrap-collapse.js"></script>
  <script src="{{ STATIC_URL }}js/bootstrap-carousel.js"></script>
  <script src="{{ STATIC_URL }}js/bootstrap-typeahead.js"></script>
  <script src="{{ STATIC_URL }}js/site.js"></script>
  <script>var _gaq = _gaq || [];_gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);_gaq.push(['_trackPageview']);(function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(ga, s);})();</script>
</body>
</html>
