{% load active %}
{% load i18n %}
{% url game_list as game_list_url %}
{% url challenge_list as challenge_list_url %}
{% url raffle_list as raffle_list_url %}
{% url schedule_list as schedule_list_url %}
{% url donor_list as donor_list_url %}
{% url donate_now as donate_now_url %}
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="navbar-container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="{% url home %}">{% trans "IGG" %}</a>
      {% if request.user.is_authenticated %}
      <div class="btn-group pull-right">
        <a class="btn dropdown-toggle" data-toggle="dropdown">
          <i class="icon-user"></i> {% if request.user.get_full_name %}{{ request.user.get_full_name }}{% else %}{{ request.user.username }}{% endif %} <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          {% comment %}
          <li><a>{% trans "Tickets" %} <span class="pull-right badge {% if request.user.profile.tickets == 0 %}badge-important{% else %}badge-info{% endif %}">{{ request.user.profile.tickets }}</span></a></li>
          <li><a>{% trans "Points" %} <span class="pull-right badge {% if request.user.profile.points == 0 %}badge-important{% else %}badge-info{% endif %}">{{ request.user.profile.points }}</span></a></li>
          {% endcomment %}
          <li><a href="{% url profile %}">{% trans "Profile" %}</a></li>
          <li class="divider"></li>
          <li><a href="{% url auth_logout %}">{% trans "Logout" %}</a></li>
        </ul>
      </div>
      <div class="btn-group pull-right">
        <div class="btn">
        {% trans "Tickets" %}  <span class="badge {% if request.user.profile.tickets == 0 %}badge-important{% else %}badge-info{% endif %}">{{ request.user.profile.tickets }}</span> &middot;
        {% trans "Points" %} <span class="badge {% if request.user.profile.points == 0 %}badge-important{% else %}badge-info{% endif %}">{{ request.user.profile.points }}</span>
        </div>
      </div>
      {% else %}
      <div class="btn-group pull-right">
        <a class="btn" href="{% url auth_login %}{% if request.get_full_path != '/logout/' %}?next={{ request.get_full_path|urlencode }}{% endif %}"><i class="icon-user"></i> {% trans "Login" %}</a>
      </div>
      {% endif %}
      <div class="btn-group pull-right">
        <div class="btn">
        {% trans "Raised" %} <span id="infobox_total" class="badge badge-info">${{ marathon.total }}</span> &middot;
        {% trans "Length" %} <span id="infobox_hours" class="badge badge-info">{{ marathon.getCurrentHours }} hrs</span>
        </div>
      </div>
      <div class="btn-group pull-right">
        <a href="{{ donate_now_url }}" class="btn btn-success"><i class="icon-shopping-cart icon-white"></i> {% trans "Donate!" %}</a>
      </div>
      <div class="nav-collapse">
        <ul class="nav">
          <li{% active request game_list_url      %}><a href="{{ game_list_url }}"><i class="icon-headphones icon-white"></i> {% trans "Games" %}</a></li>
          <li{% active request challenge_list_url %}><a href="{{ challenge_list_url }}"><i class="icon-random icon-white"></i> {% trans "Challenges" %}</a></li>
          <li{% active request raffle_list_url    %}><a href="{{ raffle_list_url }}"><i class="icon-gift icon-white"></i> {% trans "Raffles" %}</a></li>
          <li{% active request schedule_list_url  %}><a href="{{ schedule_list_url }}"><i class="icon-time icon-white"></i> {% trans "Schedule" %}</a></li>
          <li{% active request donor_list_url     %}><a href="{{ donor_list_url }}"><i class="icon-thumbs-up icon-white"></i> {% trans "Log" %}</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
