{% extends "base.html" %}
{% load i18n %}

{% block meta_description %}{% endblock %}
{% block meta_keywords %}{% endblock %}
{% block title %}{% trans "Challenges" %} :: {{ block.super }}{% endblock %}

{% block content %}
<h2>{% trans "Challenges" %}</h2>
    {% if request.user.is_staff %}<a href="/admin/marathon/challenge/">Manage Challenges</a>{% endif %}
    <p class="pull-right"><a href="{% url challenge_add %}" data-toggle="modal" title="{% trans "Propose a Challenge" %}" class="btn btn-primary">{% trans "Propose a Challenge" %}</a></p>
<ul>
    {% for challenge in challenges %}
        <li{% if not challenge.accepted %} style="background-color:#f08080;"{% elif challenge.user == request.user %} style="background-color:#e0ffff;"{% endif %}>
            <a href="{% url challenge_detail challenge.pk %}" data-toggle="modal" title="{{ challenge.name }}">{{ challenge.name }}</a> - ${{ challenge.total }}{% if challenge.bounty > 0 %} / ${{ challenge.bounty }}{% else %} (Ongoing){% endif %}
        </li>
    {% endfor %}
</ul>
{% endblock %}