{% load i18n %}
<div style="width:531px; height:auto; float:right">
    <div style="width:370px; float: left">
        <p>{{ challenge.description }}</p>
        {% if challenge.private and challenge.user == request.user %}<h4>This challenge is private; only you can donate towards it's completion!</h4>{% endif %}
        {% if request.user.is_staff %}
            {% if challenge.accepted %}
                <p>This challenge is accepted! <a href="#">Unaccept it, this is a mistake!</a></p>
            {% else %}
                <p>This challenge isn't accepted yet! <a href="#">Accept it, we can pull this off!</a></p>
            {% endif %}
            <p>Requested by user: {{ challenge.user }}</p>
            <p><a href="#" onclick="justDisplayModal('Edit {{ challenge.name }}','{% url challenge_edit challenge.pk %}')" title="Edit {{ challenge.name }}">Edit Info</a></p>
        {% endif %}
    </div>
    <div style="width:150px; float: right">
        <div class="progress" style="width:100%">
            <div class="bar" id="challengeProgressBar" style="width:{{ challenge.bounty_percentage }}%;"></div>
        </div>
        <h7 id="challengeInfo">${{ challenge.total }}{% if challenge.bounty > 0 %} / ${{ challenge.bounty }}{% else %} (Ongoing){% endif %}</h7><br>
        <h7><a href='{% url donate_now %}?challenge={{ challenge.pk }}'>Donate towards this challenge to see it happen!</a></h7>
    </div>
</div>