{% load i18n %}

<form method="post" action="{% url challenge_add %}" id="challengeAddForm">
    {{ form.as_p }}
    <p><button class="btn btn-primary" type="submit">{% trans "Submit" %}</button></p>
</form>
<script type="text/javascript">
    $("#challengeAddForm").submit(function(e) {
        e.preventDefault();

        $.post( $("#challengeAddForm").attr('action'), $("#challengeAddForm").serialize(),
                function( data ) {
/*                    var content = $( data ).find( '#content' );*/
                    justDisplayModalHTML('{% trans "Propose a Challenge" %}', data);
                }
        );
    });
</script>