<form method="post" action="{% url game_edit game.pk %}" id="gameEditForm">
    {{ form.as_p }}
    <p><button class="btn btn-primary" type="submit">Save Changes</button></p>
</form>
<script type="text/javascript">
    $("#gameEditForm").submit(function(e) {
        e.preventDefault();

        $.post( $("#gameEditForm").attr('action'), $("#gameEditForm").serialize(),
                function( data ) {
                  if (data == "SUCCESS") {
                    justDisplayModal('Game Edited','{% url game_detail game.pk %}');
                  } else {
                    justDisplayModalHTML('Game Edited', data);
                  }
                }
        );
    });
</script>