{% extends "base.html" %}
{% load i18n %}

{% block meta_description %}{% endblock %}
{% block meta_keywords %}{% endblock %}
{% block title %}{% trans "Games" %} :: {{ block.super }}{% endblock %}

{% block content %}
<h2>{% trans "Games" %}</h2>
<div class="row">
  <div class="span6 offset3">
    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Foo</th>
          <th>Bar</th>
        </tr>
      </thead>
      <tbody>
      {% for game in games %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td><a href="{% url game_detail game.slug %}" data-toggle="modal" data-target="#gameDetailModal" title="{{ game.name }}">{{ game.name }}</a></td>
          <td>foo</td>
          <td>bar</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}