{% extends "base.html" %}
{% load i18n %}

{% block meta_description %}{% endblock %}
{% block meta_keywords %}{% endblock %}
{% block title %}{% trans "Games" %} :: {{ block.super }}{% endblock %}

{% block content %}
<h2>{% trans "Games" %}</h2>
<ul>
    {% for game in games %}
        <li><a href="{% url game_detail game.slug %}" data-toggle="modal" data-target="#gameDetailModal" title="{{ game.name }}">{{ game.name }}</a></li>
    {% endfor %}
</ul>
<div class="modal hide fade in" id="gameDetailModal">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3 id="gameDetailModalHeading">Modal Heading</h3>
  </div>
  <div class="modal-body" id="gameDetailModalBody"></div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary" data-dismiss="modal">Close</a>
  </div>
</div>
{% endblock %}