{% extends "base.html" %}
{% load i18n %}

{% block meta_description %}The Indie Games for Good Marathon is...{% endblock %}
{% block meta_keywords %}{% endblock %}
{% block content %}
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
  <h1>{% trans "Welcome" %}</h1>
  <p>{% blocktrans %}This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.{% endblocktrans %}</p>
  <p><a class="btn btn-primary btn-large">{% trans "Learn more" %} &raquo;</a></p>
</div>

<!-- Example row of columns -->
<div class="row">
  <div class="span4">
    <h2>{% trans "Heading" %}</h2>
     <p>{% blocktrans %}Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.{% endblocktrans %}</p>
    <p><a class="btn" href="#">{% trans "View details" %} &raquo;</a></p>
  </div>
  <div class="span4">
    <h2>{% trans "Heading" %}</h2>
    <p>{% blocktrans %}Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.{% endblocktrans %}</p>
    <p><a class="btn" href="#">{% trans "View details" %} &raquo;</a></p>
 </div>
  <div class="span4">
    <h2>{% trans "Heading" %}</h2>
    <p>{% blocktrans %}Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.{% endblocktrans %}</p>
    <p><a class="btn" href="#">{% trans "View details" %} &raquo;</a></p>
  </div>
</div>
{% endblock %}