{% extends "base.html" %}
{% load i18n %}

{% block meta_description %}The Indie Games for Good Marathon is...{% endblock %}
{% block meta_keywords %}{% endblock %}
{% block content %}
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
  <h1>{% trans "Indie Games for Good" %}</h1>
  <p>{% blocktrans %}Indie Games for Good (IGG) is an organization dedicated to...{% endblocktrans %}</p>
  <p><a class="btn btn-primary btn-large">{% trans "Learn more" %} &raquo;</a></p>
</div>

<!-- Example row of columns -->
<div class="row">
  <div class="span3">
    <h2>{% trans "Games" %}</h2>
     <p>{% blocktrans %}Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.{% endblocktrans %}</p>
    <p><a class="btn" href="#">{% trans "View details" %} &raquo;</a></p>
  </div>
  <div class="span3">
    <h2>{% trans "Challenges" %}</h2>
    <p>{% blocktrans %}Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.{% endblocktrans %}</p>
    <p><a class="btn" href="#">{% trans "View details" %} &raquo;</a></p>
 </div>
  <div class="span3">
    <h2>{% trans "Raffles" %}</h2>
    <p>{% blocktrans %}Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.{% endblocktrans %}</p>
    <p><a class="btn" href="#">{% trans "View details" %} &raquo;</a></p>
  </div>
  <div class="span3">
    <h2>{% trans "Schedule" %}</h2>
    <p>{% blocktrans %}Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.{% endblocktrans %}</p>
    <p><a class="btn" href="#">{% trans "View details" %} &raquo;</a></p>
  </div>
</div>
{% endblock %}