{% extends "base.html" %}
{% load i18n %}

{% block meta_description %}{% endblock %}
{% block meta_keywords %}{% endblock %}
{% block title %}{% trans "Raffles" %} :: {{ block.super }}{% endblock %}

{% block content %}
<h2>{% trans "Raffles" %}</h2>
    {% if request.user.is_staff %}<a href="/admin/marathon/raffle/">Manage Raffles</a>{% endif %}
<ul>
    {% for raffle in raffles %}
        <li{% if not raffle.visible %} style="background-color:#f08080;"{% endif %}>
            <a href="{% url raffle_detail raffle.pk %}" data-toggle="modal" title="{{ raffle.name }}">{{ raffle.name }}</a>{% if request.user.is_staff %} - {{ raffle.count_tickets }}{% endif %}
        </li>
    {% endfor %}
</ul>
{% endblock %}