{% load i18n %}
<div style="width:531px; height:auto; float:right">
    <div style="width:370px; float: left">
        <i>We have: {{ raffle.quantity }}</i>
        <p>{{ raffle.description }}</p>
        {% if request.user.is_staff %}
            {% if raffle.visible %}
                <p>This raffle is visible! <a href="#">Hide it, quick!</a></p>
            {% else %}
                <p>This raffle isn't visible yet! <a href="#">Make it show.</a></p>
            {% endif %}
        {% endif %}

        <p id="raffleTimeInfo">Please enable javascript to see raffle information.</p>
        {% if request.user.is_staff %}<p><a href="#" onclick="justDisplayModal('Edit {{ raffle.name }}','{% url raffle_edit raffle.pk %}')" title="Edit {{ raffle.name }}">Edit this raffle.</a></p>{% endif %}
    </div>
    <div style="width:150px; float: right">
        {% if request.user.is_staff %}<b>{{ raffle.count_tickets }} tickets entered so far.</b>
        <p><a href="#" onclick="justDisplayModal('Edit  {{ raffle.name }}','{% url raffle_edit raffle.pk %}')" title="Edit {{ raffle.name }}">Edit Raffle</a></p>{% endif %}
        <div class="progress" style="width:100%">
            <div class="bar" id="raffleProgressBar" style="width:0%;"></div>
        </div>
        <p id="raffleProgressInfo">Please enable javascript to see raffle status.</p>
    </div>
</div>
{% block before_body_end %}
    <script type="text/javascript">
        var timePercentage = 0
        var raffleStart = new Date('{{ raffle.start.isoformat }}')
        var raffleEnd = new Date('{{ raffle.end.isoformat }}')
        var now = new Date()
        var timeText = "Starts: " + raffleStart.toDateString() + " at " + raffleStart.toTimeString() + "<br>"
        timeText += "Ends: " + raffleEnd.toDateString() + " at " + raffleEnd.toTimeString()
        var infoText = ""
        if (now < raffleStart)
        {
            infoText += "This raffle hasn't started yet; if you donate now, you'll get tickets that can be entered in it later!"
            timePercentage = 0
        }
        else if (now > raffleEnd)
        {
            infoText += "This raffle is over; check your e-mails if you entered it to see if you've won!"
            timePercentage = 100
        }
        else
        {
            infoText += "This raffle is LIVE! <a href='{% url donate_now %}?raffle={{ raffle.pk }}'>Donate now to enter!</a>"
            timePercentage = 100 * (now - raffleStart) / (raffleEnd - raffleStart)
        }
        $("#raffleProgressBar").css('width',timePercentage + "%")
        $("#raffleProgressInfo").html("<i>" + infoText + "</i>")
        $("#raffleTimeInfo").html("<i>" + timeText + "</i>")
        {% comment %}

        {% endcomment %}
    </script>
{% endblock %}