<form method="post" action="{% url raffle_add %}" id="raffleEditForm">
    {{ form.as_p }}
    <p><button class="btn btn-primary" type="submit">Save Changes</button></p>
</form>
<script type="text/javascript">
    $("#raffleEditForm").submit(function(e) {
        e.preventDefault();

        $.post( $("#raffleEditForm").attr('action'), $("#raffleEditForm").serialize(),
                function( data ) {
                    var content = $( data ).find( '#content' );
                    justDisplayModalHTML('Raffle Created!',content);
                }
        );
    });
</script>